# Object files
*.o
*.obj

# configure and such from autoreconf
aclocal.m4
config.guess
config.sub
configure
autom4te.cache/
compile
config.h.in
config.h.in~
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/ltversion.m4

# Makefile.in
Makefile.in
doc/Makefile.in
doc/devhelp/Makefile.in
doc/examples/Makefile.in
example/Makefile.in
fuzz/Makefile.in
include/Makefile.in
include/libxml/Makefile.in
include/libxml/xmlversion.h
include/private/Makefile.in
python/Makefile.in
python/setup.py
python/tests/Makefile.in
xstc/Makefile.in

# 
libxml2.spec